@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.woff2') format('woff2'),
         url('../font/BebasNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/TrebuchetMS.woff2') format('woff2'),
         url('../font/TrebuchetMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}