header.header {
    width: 100%;
    height: 70ox;
    background-color: black;

}

header.header .logo {}

header.header .logo a {}

header.header .logo img {}

header.header .nav ul {}

header.header .nav ul>li {}

header.header .nav ul>li a {}